.container{
    margin-left: 50vh;
    transition: filter 0.5s;

    h2{
        text-align: center;
        margin-top: 150px;
        font-size: 40px;
        font-family: catallina;
        color: #fff;
        
    }

    
    section{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        align-items: center;
    }
        
        #arrow{
            display: none;
        }
        
        h4{
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 500;
            color: #fff;
            margin: 0 20px 0 20px;
        }
        
    .button{
        display: flex;
        padding: 4px;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        position: relative;
        
        input{
            margin-left: 20px;
            width: 200px;
            border: none;
            outline: none;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
        }

        .offtooltip{
            display: none;
        }

        .tooltip{
            display: block;
            background-color: rgb(27, 27, 27);
            position: absolute;
            top: -65px;
            left: 50px;
            padding: 10px 20px;
            box-shadow: #0e0d0dec 5px 3px 5px;
            color:#fff;
            font-family: Georgia, 'Times New Roman', Times, serif;
            animation: tooltip 3s forwards;
        }

        .tooltip::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 13px;
            border-style: solid;
            border-color: rgb(27, 27, 27) transparent transparent transparent;
        }
    
        input::-webkit-inner-spin-button{
            appearance: none;
        }

        select{
            padding: 10px 10px;
            background-color: #239f99;
            border-radius: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #fff;
            font-weight: 500;
            border: none;
            outline: none;    
        }   
    }   
}

.display{
    display: flex;
    width: 200px;
    align-items: center;

    h3{
        margin-left: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        font-weight: 500;
    }
}

.display-select{
    float: right;
}

@keyframes tooltip {
    95% {opacity: 100%;}
    100% {opacity: 0%;}
}

@keyframes uptitle {
    from {margin-top: 150px;}
    to {margin-top: 50px}
}

@media (max-width: 1194px) {
    .container{
        margin-left: 45vh;
    }
}

@media (max-width: 1070px){
    .container{
        margin-left: 40vh;
        h2{
            font-size: 35px;
        }
            h4{
                font-size: 23px;
            }

            .button{
                width: 250px;
                
                input{
                    width: 148px;
                    font-size: 16px;
                }

                select{
                    padding: 10px 10px;    
                }
            }
    }
    .display{
        h3{
            font-size: 16px;
        }
    }
}

@media (max-width: 1020px){
    .container{
        margin-left: 40vh;
    }
}

@media (max-width: 1000px){
    .container{
        h2{
            font-size: 35px;
            margin-top: 120px;
        }    
    }
    
}

@media (max-width: 974px){
    .container{
        h2{
            font-size: 30px;
        }
        section{
            margin-top: 40px;
        }
    }    
}

@media (max-width: 946px){
    .container{
        h2{
            margin-top: 80px;
        }
        
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            align-items: center;
            
            #arrow{
                display: block;
                margin-top: 15px;
                margin-bottom: 10px;
            }

            h4{
                display: none;
            }
        }
     } 
}
@media (max-width: 848px){
    .container{
       h2{
            margin-top: 80px;
        }
    }
}
@media (max-width: 796px){
    .container{
        margin-left: 0;
        h2{
            font-size: 30px;
        }
            h4{ 
                font-size: 23px;
            }
            
            .button{
                width: 250px;
                
                input{
                    width: 148px;
                    font-size: 16px;
                }

                select{
                    padding: 10px 10px;    
                }
            }
    }
}