
.menu{
    background-color: #242323;
    width: 26vw;
    height: 100vh;
    position: fixed;
    display: inline-block;
    top: 0;
    
    a{
        color:#fff;
    }

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 255px;
        margin: 15px 0 25px 0;
    }

    button{
        padding: 20px;
        width: 100%;
        border-style: none;
        background-color: #242323;
        color: #fff;
        font-size: 18px;
    }

    button:hover{
        background-color: #35393B;   
    }

    #cotacao{
        background-color: #35393B;
    }
}
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin-bottom: 10px;

        a{
            color:#636363;
            font-size: 25px;
            margin: 0px 5px 0px 5px; 
        }

        a:hover{
            color:#383838;
        }

        h5{
            display: block;
            color: #636363;
        }
    }
}

@keyframes pull-down {
    from{left: -300px;}
    to {left: 0;}
}

@media (max-width: 1070px) {
    .menu{
    nav{
        img{
            width: 230px;
        }
    
        button{
            font-size: 15px;
        }   
    }
        footer{
            a{
                font-size: 20px; 
            }
    
            h5{ 
                font-size: 10px; 
            }
        }
    }
}


@media (max-width: 1000px){
    .menu{
        nav{
            img{
                width: 200px;
            } 
        }
    }
}

@media (max-width: 848px){
    .menu{
        width: 250px;
        }            
}

@media (max-width: 796px){
    .menu{
        width: 300px;
        left: 0px;
        transition: left 0.7s ease-out;
        }

    .closed-menu{
        left: -300px;
        height: 100;
        transition: left 0.7s ease-out;
    }
    
    .push-menu{
        background-color: #242323;
        position: absolute;
        top: 15%;
        right: -29px;
        transform: translate(-50%, -50%);
        height: 150px;
        width: 20px;
        border-radius: 0 10px 10px 0;
        
        .class-icon{
            background-color: #242323;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);  

            .icon{
                position: absolute;
                top: -10%;
                left: -10%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                color: #fff;
                transform: rotate(0deg);
                transition: transform 0.5s ease-out;
            }

            .inverted-icon{
                position: absolute;
                top: -10%;
                left: -10%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                color: #fff;
                transform: rotate(180deg);
                transition: transform 0.5s ease-out;
            }
        }
        
    }
}
